@import './vars';

.header { 
    position: fixed;
    width: 14rem;
    left: 0;
    height: 100%;
    background-color: lightseagreen;
    transition: .25s cubic-bezier(.5,0,.1,1);
    border-right: 2px solid #f4f7fb;
    z-index: 10;
}

.header .title {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 30px
}

.header .title p {
    color:white;
    font-weight: 700;
}

.header .title p span {
    font-weight: 400;
}

.header .social {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.header input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    font-size: 12px;
    height: 14px;
    width: 175px;
    &:focus {
        outline: none;
    }
}

.header nav {
    margin-top: 10px;
    margin-left: 2px
}

.header nav ul {
    float: left;
    width: 100%;
    min-height: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.header ul li {
    text-align: left;
    padding: 5px 0;
    padding-left: 17px;
}

.header ul li a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: .890rem;
}

